@tailwind base;
@tailwind components;
@tailwind utilities;

.stamp {
  color: #555;
  font-size: 1rem;
  font-weight: 700;
  border: 0.2rem solid #555;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: "Courier";
  mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  mask-size: 600px 600px;
  mix-blend-mode: multiply;
}
